.abc:hover{
    background-color: rgb(222, 222, 247)!important;
    transform: scale(1.2) !important;
}

.img{
    border: 20px!important;
}

h1{
    background-color: rgb(153, 153, 189);
}

.content{
    height: 300px;
}

.title{
    height: 100px!important;

}

.body{
    height: 150px;
}

.items{
    background-color: rgb(78, 112, 93)!important;
    display: flex!important;
    justify-content: center!important;
    
}

.box{
    background-color: rgb(78, 112, 93)!important;
    margin: 1px;
}

.page{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: -25px;
    background-color: rgb(227, 227, 245)!important;

}

.cards{
    display: flex;
    justify-content: center;
}